.event-update-form h2 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 0, 255, 0.1);
}

.form-label {
  display: grid;
  grid-template-columns: 5.5rem 1fr;
  column-gap: 20px;
  margin-bottom: 8px;
  align-items: left;
}

.form-label span {
  margin-top: 6px;
  text-align: left;
  justify-self: start;
}

.form-label input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  margin-left: 8px;
}

.event-active-toggle {
  display: grid;
  grid-template-columns: 5.5rem 1fr;
  column-gap: 20px;
  margin-bottom: 8px;
  align-items: left;
}

.event-active-toggle input {
  display: none;
}

.event-active-toggle span {
  display: flex;
  align-items: center;
  min-width: 6.5rem;
}

.event-active-slider {
  width: 46px;
  height: 24px;
  border-radius: 999px;
  background: #777;
  position: relative;
  transition: 0.2s;
}

.event-active-slider::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 0.2s;
}

.form-actions {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.form-actions button {
  cursor: pointer;
}
