.event-view {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;

  background: var(--theme-gradient);

  border: 2px solid #6d2aa7;
  border-radius: 16px;

  color: #f3e9ff;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-shadow:
    0 0 12px rgba(109, 42, 167, 0.4),
    0 0 30px rgba(77, 17, 17, 0.3);
}

.light .event-title {
  text-align: center;
  margin: 0;

  font-size: 2rem;
  font-weight: 700;

  color: rgba(115, 63, 162, 0.9);

  text-shadow:
    0 0 4px rgba(190, 150, 255, 0.9),
    0 0 8px rgba(115, 63, 162, 0.8),
    0 0 16px rgba(40, 20, 65, 0.7);
}

.dark .event-title {
  text-align: center;
  margin: 0;

  font-size: 2rem;
  font-weight: 700;

  color: rgba(255, 183, 0, 0.9);

  text-shadow:
    0 0 4px rgba(30, 24, 0, 0.8),
    0 0 8px rgba(120, 92, 0, 0.8),
    0 0 16px rgba(255, 183, 0, 0.9);
}

.event-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 0.75rem;
}

.event-details p {
  margin: 0;

  padding: 0.75rem;

  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(216, 180, 255, 0.2);
  border-radius: 8px;
}

.light .event-details strong {
  color: rgba(115, 63, 162, 0.9);
}

.dark .event-details strong {
  color: rgba(255, 183, 0, 0.9);
}

.event-details p {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.event-view h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  color: #ffd43e;

  border-bottom: 1px solid rgba(216, 180, 255, 0.3);
  padding-bottom: 0.25rem;
}

.rating-text {
  position: relative;
  top: -0.35rem;
  left: 0.5rem;
}

.dark .rating-stars svg {
  gap: 0.15rem;

  font-size: 1.5rem;
  color: rgba(240, 200, 10, 0.8);
}

.light .rating-stars svg {
  gap: 0.15rem;

  font-size: 1.5rem;
  color: rgba(66, 0, 76, 0.8);
}

.form-field {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  gap: 1rem;
  width: 40%;
  margin-bottom: 1rem;
}

.form-field label {
  text-align: left;
}

.form-field input {
  padding: 6px;
  box-sizing: border-box;
  margin-left: 8px;
}
