# Executables and Libraries
*.exe
*.dll
*.so
*.dylib
*.out
*.app

# Java/JVM
*.class
*.jar
*.war

# Python
*.pyc
*.pyo
__pycache__/

# C/C++
*.o
*.obj

# General build directories
bin/
obj/
dist/
build/
out/
target/
.vscode/
.idea/

# Mac .DS_Store
.DS_Store
