.members-page {
  width: 100%;
}

.members-page h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.members-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

.members-grid form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.members-grid fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.members-grid label {
  display: grid;
  grid-template-columns: 140px 250px;
  align-items: center;
  gap: 0.75rem;

  width: fit-content;
  margin: 0 auto;

  text-align: left;
}

.members-grid label input,
.members-grid label select {
  width: 250px;
  padding: 6px;
}

.members-grid h2 {
  margin-bottom: 0rem;
}

.members-grid button {
  width: 25%;
}

.members-grid > * {
  width: 100%;
  padding: 1.5rem;
}

.members-success {
  color: #3fb950;
  margin-bottom: 1rem;
}

.members-error {
  color: #ff6b6b;
  margin-bottom: 1rem;
}
